/* Geral */

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

:root {
  --violeta: #4b3972;
  --magenta: #c689c6;
  --rosa: #ffc7eb;
  --rosa-claro: #ffe6f7;
  --roxo-escuro: #18122b;
  --roxo-acizentado: #393053;
  --roxo-medio: #443c68;
  --roxo: #635985;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: var(--violeta);
  background: linear-gradient(rgb(174, 140, 190), rgb(18, 7, 24));
}

.container {
  background-color: var(--magenta);
  width: 30%;
  height: 70%;
  box-sizing: border-box;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.container button {
  color: var(--violeta);
}

/* 1° bloco - INFO */

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  border-radius: 15px 15px 0 0;
}

.light-dark {
  display: flex;
  gap: 10px;
  align-items: center;
}

.botao-fundo {
  width: 3rem;
  height: 1.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  align-items: center;
}

#botao-light-dark {
  position: relative;
  background-color: rgb(168, 168, 168);
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100%;
  left: 2px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#btn-exit {
  cursor: pointer;
  margin-right: 5px;
}

/* 2° bloco - RESULTADOS */

.results {
  position: relative;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
  padding-right: 20px;
  font-weight: bold;
  word-break: break-all;
  line-break: strict;
}

.results > #previous-operation {
  font-size: 1.5rem;
}

.results > #current-operation {
  font-size: 2.5rem;
}

/* 3° bloco - FUNÇÕES */

/* Teclas númericas */

.operations {
  background-color: aliceblue;
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 0 0 15px 15px;
}

#allClearBtn {
  grid-column: 3 span;
  border-radius: 15px 15px 0 0;
  background-color: var(--magenta);
  border-radius: 0 0 15px 15px;
}

#allClearBtn:hover {
  background-color: var(--rosa);
}

.numbers,
.operation {
  outline: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

.numbers:hover {
  outline: none;
  background-color: rgb(255, 187, 222);
}

.numbers:active {
  background-color: rgb(255, 170, 214);
}

/* Teclas de funções de cálculo */

.operation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 0 15px 15px;
}

.operation:hover {
  background-color: rgb(255, 170, 214);
}
.operation:active {
  background-color: rgb(255, 187, 222);
}
